*{
    display: 100%;
    padding:0;
    margin:0;
}
.hero{
    height:100vh;
    background-image: linear-gradient(rgba(0,105,233,0.4),rgba(0,105,233,0.6)),url(background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}
.nav-bar{
    display:flex;
    height: 12%;
}
.navbar-left{
    flex-basis:70%;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.navbar-inner{
    display: flex;
    align-items:center;
    padding:5px 5px 5px 5px;
}
/*.navbar-inner img{
  padding:.5px 2px 2px 2px;
}*/
.navbar-inner ul{
    margin-left: 20px;
    z-index: 2;
    
}
.navbar-inner ul li{
    margin:0 10px;
   display:inline-block;
 
    
}
.navbar-inner ul li  p{
    font-size:50px;
   text-decoration:none;
   color:ivory;
 margin-left:270px;
    
}
/*.navbar-inner ul li {
   text-decoration:none;
   color:windowframe;
 margin-left:250px;
 float:right;
    
}*/
.navbar-right{
    flex-basis:30%;
    background:#fff;
}
.navbar-right ul{
   float:right;
    padding:10px 15px 5px 10px;
}
.navbar-right ul li{
   display:inline-block;
   padding-top: 15px; 
   font-size:30px;
   color: brown;
    font-family: sans-serif;
    margin-left:70px;
}
.content{
    dispaly:flex;
    height:88%;
}
.content-left{
    flex-basis:70%;
    position :relative;
}

.content-right img{

   top:33%;
   right:40%;
   position:absolute;
   z-index:1;
   transform:rotate(25deg);
   opacity: 0.7;
}
.upper-text{
    left: 10%;
    top: 25%;
    position: absolute;
    color: lightblue;
    opacity: 0.5;
}
.upper-text h1{
    font-size: 150px;
    margin-left:50px;
    line-height:320px;
    font-style: italic;
}
.upper-text h2{
    font-size:20px;
    margin-left:2px;
    line-height:.3%;
    font-style: italic;
}


 .aa{
    float: right;
        width:350px;
         height:auto;
       background-color:rgba(0,0,233,0.1); 
            margin:0;
           margin-right:2%;
           margin-top: 55px;
                  padding-top: 10px; 
                    padding-left: 20px;
                   padding-bottom: 40px;
                   
                    border-radius: 5px;
                    //border:2px  transparent;
                
                 -webkit-border-radius: 25px;
                -o-border-radius:25px;
                     -moz-border-radius:25px;
                   
                   color:black;
                 text-shadow:2px 2px 4px lavender;
                    font-weight:bold;
                    font-size: 18px;
            
   }
              .aa input[type="email"]{
                  
                 width:200px;
                height: 30px;
                   border: 0;
                   
               border-radius:7px;
               
                 padding-left:7px;
                 -webkit-border-radius: 5px;
                  -o-border-radius:5px;
                 -moz-border-radius:5px;
              }
               .aa input[type="text"]{
                  
                 width:200px;
                height: 30px;
                   border: 0;
                   
               border-radius:7px;
               
                 padding-left:7px;
                 -webkit-border-radius: 5px;
                  -o-border-radius:5px;
                 -moz-border-radius:5px;
              }
             .aa input[type="password"]{
                 width:200px;
                height: 30px;
                   border: 0;
               border-radius:7px;
                 padding-left:7px;
                 -webkit-border-radius: 5px;
                  -o-border-radius:5px;
                 -moz-border-radius:5px;
              }
               .aa input[type="submit"]{
                  display: block;
                  padding: 12px 30px;
                  color:white;
                  font-size:15px;
                  font-weight: bold;
                  border:3px solid transparent;
                  border-radius:15px;
                  background: linear-gradient(rgba(0,0,255,0.3), rgba(0,0,255,0.5)),radial-gradient(circle at top LEFT,red,green);
                  background-origin: border-box;
            
                 box-shadow: inset 0px 1px 4px -2px #333;
               }
                
                .aa input[type="submit"]:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 10%;
	
       }      
             .aa input[type="submit"]:hover{
                background:linear-gradient(burlywood,brown);
                }
           .aa input[type="number"]{
                  
                 width:200px;
                height: 30px;
                   border: 0;
                   
               border-radius:7px;
               
                 padding-left:7px;
                 -webkit-border-radius: 5px;
                  -o-border-radius:5px;
                 -moz-border-radius:5px;
              }

   .aa textarea{
                  
                 width:200px;
                height: 110px;
                   border: 0;
                   
               border-radius:7px;
               
                 padding-left:7px;
                 -webkit-border-radius: 5px;
                  -o-border-radius:5px;
                 -moz-border-radius:5px;
              }